.Navigation_Bar {
  background-color: #0099ff;
  /*padding:15px;*/
  /*float:left;*/
  /*width:20%;  The width is 20%, by default */
  text-align: center;
  width: 100%;
  color: #ffffff;
}

body {
  background-color: #F0FFFF;

}

h1 {/*標題*/
  color: #003d66;
  margin-left: 35px;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* Style the footer */
footer {
  background-color: #0099ff;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}
