.Block_Orchid-blue {/*蘭色背景 白色文字*/
  background-color: #0099ff;
  color: #ffffff;
}

.Navigation_Bar {
  background-color: #0099ff; color: #ffffff;
  /*padding:15px;*/ /*float:left;*/ /*width:20%; 寬度默認為20％ */
  text-align: center;
  width: 100%;
  
}
.Abstract {
  background-color: #e6ffff;/*Light Cyan 淺青色*/
  color: #000d1a;
  border: 0px solid black; margin: 10px; padding: 10px;
  font-size: 18px;
}

body {
  background-color: #F0FFFF; /*Azure-blue*/
  font-family: Arial, sans-serif; /*字型*/
}

h1 {/*標題*/
  text-align: center;
}

footer {/* Style the footer */
  background-color: #0099ff; color: #ffffff;
  padding: 5px;
  /*text-align: center;*/
  font-size: 10px;
}


.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; /*長寬比*/
  height: 0; 
  overflow: hidden; max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; left: 0; 
  width: 100%; height: 100%; 
}
